* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Proxima-Nova-Light;
    src: url(/fonts/Proxima-Nova-Light.otf);
}
@font-face {
    font-family: FuturaPT;
    src: url(/fonts/Futura.otf);
}
body {
    font-family: Proxima-Nova-Light, Arial, Tahoma, sans-serif;
}
body > .textbox {
    bottom: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    padding: 10px 15px;
    -webkit-box-shadow: -1px -4px 9px -10px #000000;
    box-shadow: -1px -4px 9px -10px #000000;
}
body > .textbox > form > input {
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid #1416183d;
    padding: 10px;
    height: 38px;
    color: black;
    flex: 1 0 auto;
    font-size: 15px;
}
body > .textbox > form > input:disabled {
    background-color: #f3f3f3;
}
body > .textbox > form > input:focus {
    outline: 1px solid #5583c5;
}
body > .textbox > form > input::placeholder {
    color: #a3a3a3;
}
body > .textbox > form {
    display: flex;
    width: 100%;
}
body > .textbox > .button > button {
    border: none;
    background: #b80000;
    color: white;
    padding: 5px;
    cursor: pointer;
    width: 120px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
body > .textbox > .button > button:hover {
    background: #a70000;
}
body > .textbox > .button > button > img {
    width: 19px;
    margin-left: 5px;
}
header {
    padding: 10px;
    height: 55px;
    display: grid;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    align-items: center;
}
header > .content > .logo {
    font-family: FuturaPT;
    font-size: 26px;
    display: block;
    margin-left: 10px;
    float: left;
}
header > .content > .onlineNow {
    float: right;
    font-size: 20px;
    margin-top: 4px;
    display: flex;
    margin-right: 10px;
}
header > .content > .onlineNow > .blue {
    color: #5583c5;
    margin-right: 5px;
    font-weight: bold;
}
header > .content {
    display: block;
}
.blue button > img {
    margin-right: 5px;
}
.chat {
    margin: 20px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: absolute;
    top: 55px;
    bottom: 55px;
    left: 0;
    right: 0;
    overflow: auto;
}
.chat > .serverMessage {
    animation: msgfade 0.25s ease-out forwards;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}
.chat > div > .serverMessage {
    animation: msgfade 0.25s ease-out forwards;
    font-weight: bold;
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}
.chat > div > .UserMessage1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.chat > div > .UserMessage1 > .user {
    font-weight: bold;
    margin-right: 5px;
    color: #cf5353;
}
.chat > div > .UserMessage2 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.chat > div > .UserMessage2 > .user {
    font-weight: bold;
    margin-right: 5px;
    color: #5583c5;
}
.findbtn {
    background-color: #cf5353 !important;
}
.findbtn:hover {
    background-color: #c04242 !important;
}
.bluebutton button {
    border: none;
    background: #4873b1;
    color: white;
    padding: 5px;
    cursor: pointer;
    width: 120px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.bluebutton button > img {
    margin-right: 5px;
    width: 19px;
}
.bluebutton button:hover {
    background: #365d94;
}
.DisabledBtn button {
    border: none;
    background: #6a98d8;
    color: white;
    padding: 5px;
    cursor: default;
    width: 120px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.DisabledBtn button > img {
    margin-right: 5px;
    width: 19px;
}
.GreenColor button {
    background-color: #6a8f6a !important;
}
.GreenColor button:hover {
    background-color: #527252 !important;
}
.swal2-title {
    font-size: 25px !important;
    font-family: Proxima-Nova-Light, Arial, Tahoma, sans-serif;
}
@media only screen and (max-width: 700px) {
    #buttonText1 {
        display: none;
    }
    #buttonText2 {
        display: none;
    }
    body > .textbox > .button > button {
        width: 40px;
    }
    body > .textbox > .button > button img {
        margin-left: 0px;
    }
    .DisabledBtn button {
        justify-content: center;
        width: 40px;
    }
    .DisabledBtn button > img {
        margin-right: 0px;
    }
    .bluebutton button {
        width: 40px;
    }
    .bluebutton button img {
        margin-right: 0px;
    }
}